.recommendationBar {
  color: black;
}
.recommendationBar.recommendationBar > hr {
  background-color: lightgray;
  height: 1px;
  border: 0;
}
.recommendationBar_list {
  height: 60px;
  display: flex;
  align-items: center;
  max-width: 80%;
}
.recommendationBar_list > p {
  font-size: 14px;
  font-weight: 500;
  padding: 5px 15px;
  border: solid 1px lightgray;
  border-start-start-radius: 25px;
  border-end-start-radius: 25px;
  border-start-end-radius: 25px;
  border-end-end-radius: 25px;
  background-color: rgba(236, 232, 232, 0.835);
  margin-left: 10px;
}
.recommendationBar_list > p:hover {
  background-color: rgba(211, 205, 205, 0.835);
  cursor: pointer;
}
.recommendationBar_list > p.selected {
  background-color: black;
  color: white;
}
